/*header design*/

.header {
    display: flex;
    text-align: right;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
}

.right {
    padding: 200px 200px 300px 800px;
}

.header-title{
    font-weight: 600;
    font-size: 50px;
}

.header-description, .future-description{
    color: rgb(143, 150, 156);
    font-weight: 300px;
}

.btn-primary {
    background-color: orangered;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-weight: 350;
   
    height: 60px;
    width: 150px;
}

main {
   

}

/*failure topic*/
img {
    padding-left: 100px;
}

.failure {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 87pxs;
    margin-top: 130px;
}

.failure-topic {
    padding: 400px 200px 200px 200px;
}

.section-title {
    font-weight: 550;
    font-size: 40px;
}

.failure-description,
.failure-point, .plans-description {

    color: #737272;
    font-weight: 300px;
}

.failure-description i {
    color: rgb(9, 238, 192);
}

/*My plans*/
.plans{
    padding: 130px 260px;
    text-align: center;
    
}


.plans-list {

   
    display: flex;
    align-items: center;
    gap: 87px;
   
    font-weight: 250px;
    font-size: 20px;
}
.img-icon
{
    background-position: center;
padding-left: 30px;

}
/**/
.watch{
    
    background-image: url(../images/gradient2.png),url(../images/watch.png);
    ;
    padding: 50px 200px 250px 50px;
    background-repeat: no-repeat;
    margin-left:200px;
    
   
}
.watch .section-title{
    color: white;
}
.watch .btn-primary, .subscribe .btn-primary{
    background-color: white;
    color: orangered;
    font-size: 18px;
}

/*fotter*/
footer{
    background-color: black;
}

.footer-part{
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 50px 200px 100px;
}
.footer-part .section-title, .subscribe-title{
color: white;
}
input{
    padding: 20px 50px 15px 20px;
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    margin-bottom: 15px;
}
.future-link{
    display: flex;
    gap: 17px;
    list-style: none;
    text-decoration: none;
    
}
